.image {
  max-width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.button {
  background-color: rgb(82, 106, 180);
  border-radius: 10px;
  padding: 5px;
  z-index: 1;
  position: relative;
  cursor: pointer;
  border-color: rgb(127, 127, 212);
}