.button {
  font: inherit;
  border: 1px solid #52baae;
  background: #52baae;
  color: white;
  padding: 0.50rem 1rem;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}

.button:hover,
.button:active {
  background: #4aa197;
  border-color: #4aa197;
}

.button:focus {
  outline: none;
}